.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 3rem;
    //border: 1px solid gray;
    border-radius: 25px;
    margin: 0.5rem;
    background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
}

div {
  text-align: left;
  padding: 0.25rem 0;
  font-weight: bold;
}

h2{
  text-align: center;
  padding: 0.25rem 0;
  font-weight: bold;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #4A5F90;
}

.link-btn {
  background: none;
  color: white;
  //text-decoration: underline;
}

.password{
  margin-top: 10px;
}